<div class="container" style="background-color:blue">
     <form style="text-align:center;" action = "/api/Image/imageUpload" method="POST" enctype="multipart/form-data">
     
       
     <input style="margin:0 auto"  type="file" name="file"  ></input><br>
      
 <input  type="submit" name="submit" value="Add Image"></input>

 <% images.forEach(function(image){ %>
    <div class=" col-lg-3 col-md-3 col-sm-6">
            <div class="thumbnail">
              <img src=" <%= image.Image %>">  
            </div>
     </div>
    <% }); %>
</form>

</div>